.actions {
  position: absolute;
  left: $margin-h;
  top: 30%;
  padding: 0;

  li {
    list-style: none;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
  }

  &_divider {
    border-bottom: 2px solid #ccc;
    width: 10px;
    margin: 20px 0 !important;
  }
}

#file,
#webcam {
  opacity: 0;
  position: absolute;
}

.label {
  cursor: pointer;

  &--webcam {
    #webcam:checked ~ & {
      background: #fc0;
    }
  }
}
