.aside {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: $side-w;
  z-index: 999;
  padding: $margin-v $margin-h;
  background: #fff;
  user-select: none;
}

.copyright {
  position: absolute;
  left: $margin-h;
  bottom: $margin-v;
  font-size: 0.8em;
  font-weight: normal;
  text-decoration: none;
}
