* {
  box-sizing: border-box;
}

a {
  color: #000;
}

ul,
li {
  margin: 0;
  bottom: 0;
}

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: bold;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;

  &.is-loading {
    transition: background-color 0.3s;
  }

  .is-mobile & {
    background: #eee;
  }
}

#fileDropArea {
  $margin: 15px;

  position: absolute;
  z-index: 1;
  left: $margin;
  top: $margin;
  right: $margin;
  bottom: $margin;
  transition: opacity 0.3s;
  opacity: 0;
  border: 1px solid;
  border-color: rgba(#000, 0.1);
  display: none;

  @include tablet {
    display: block;
    top: $side-h + $margin;
  }

  @include desktop {
    left: $side-w + $margin;
    top: $margin;
  }

  &:hover {
    opacity: 1;
  }

  &::after {
    content: 'drag image here';
    padding: 10px;
    display: block;
    font-size: 0.8em;
    pointer-events: none;

    .drag-file & {
      content: 'drop';
    }
  }
}

.show-mobile.show-mobile {
  display: none;

  .is-mobile & {
    display: block;
  }
}

.hide-mobile.hide-mobile {
  .is-mobile & {
    display: none;
  }
}
