* {
  box-sizing: border-box;
}

a {
  color: #000;
}

ul,
li {
  margin: 0;
  bottom: 0;
}

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: bold;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;

  &.is-loading {
    transition: background-color 0.3s;
  }

  .is-mobile & {
    background: #eee;
  }
}

#fileDropArea {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s;
  background: rgba(#fff, 0.7);
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  &::after {
    content: 'Drag image here';
    position: absolute;
    left: $side-w;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: none;
    font-size: 30px;
    display: block;

    .drag-file & {
      content: 'Drop';
      font-size: 70px;
    }
  }
}

.show-mobile.show-mobile {
  display: none;

  .is-mobile & {
    display: block;
  }
}

.hide-mobile.hide-mobile {
  .is-mobile & {
    display: none;
  }
}
