@mixin min-width($width) {
  @media (min-width: #{$width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

@mixin tablet {
  @include min-width($tablet-width) {
    @content;
  }
}

@mixin desktop {
  @include min-width($desktop-width) {
    @content;
  }
}

@mixin flex($justify-content: space-between) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}
