.rangeslider {
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 30px;

  @include mobile {
    width: 100%;
  }

  &__handle {
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    top: 50%;
    background: #fff;
    border: 2px solid #000;
  }

  &__fill__bg {
    top: 50%;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    transform: translateY(-50%);
  }
}

