$control-bar-height: 150px;
$tablet-width: 850px;
$desktop-width: 1024px;

@import './_mixin.scss';
@import './_rangeslider.scss';

a {
  color: #004fb0;
}

body {
  font-family: 'Asap', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  .is-mobile & {
    background: #eee;
  }

  &.drag-file {
    &::after {
      content: 'Drop!';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      font-size: 100px;
      font-style: italic;
    }
  }
}

.show-mobile.show-mobile {
  display: none;

  .is-mobile & {
    display: block;
  }
}

.hide-mobile.hide-mobile {
  .is-mobile & {
    display: none;
  }
}

#ascii {
  display: block;
  position: absolute;
  left: 50%;
  top: calc(50% - #{($control-bar-height / 2)});
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  opacity: 0;

  &.is-done {
    opacity: 1;
  }

  .drag-file & {
    opacity: 0.2;
  }
}

#fileDropArea {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.label {
  color: #aaa;
  margin-right: 5px;

  @include mobile {
    display: none;
  }

  &--fakeBtn {
    display: block;
    padding: 0 10px;
    width: 100%;
  }
}

.control {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  height: $control-bar-height;

  &_row {
    @include flex;

    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 5px 0;
    background: #f3f3f3;

    &:last-child {
      margin-top: 10px;
      text-align: center;
      background: none;

      .is-mobile & {
        width: 80%;
      }
    }
  }

  &_item {
    min-height: 30px;
    padding: 0 10px;
    width: 100%;

    @include flex;

    &--color {
      width: 30%;
    }

    &--fakeBtn {
      position: relative;
      padding: 0;
      cursor: pointer;

      & + & {
        margin-left: 10px;
      }

      .label {
        z-index: 1;
        margin-right: 0;
        color: #000;

        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
          border-radius: 2px;
        }
      }
    }

    &--download {
      background: none;
      width: 50%;

      .is-mobile & {
        width: 100%;
      }
    }
  }
}

.input {
  display: block;
  text-align: center;
  outline: 0;
  border: 0;
  font-size: 1.2em;
  padding: 0;
  background: none;
  box-sizing: border-box;

  .is-mobile & {
    font-size: 16px;
  }

  &--text {
    display: block;
    text-align: left;

    @include mobile {
      width: 100%;
    }

    @include desktop {
      flex-grow: 1;
    }
  }

  &--color {
    margin-left: 5px;
    width: 30px;
    height: 15px;
    border-radius: 2px;
    outline: 0;
    border: 2px solid transparent;
    cursor: pointer;

    &:focus {
      border: 2px solid #000;
    }
  }

  &--range {
    width: 100%;
  }

  &--fakeBtn {
    $active: #e00000;

    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;

    & ~ .label {
      color: #000;

      &::before {
        background: #fff;
        border: 2px solid #000;
      }
    }

    &:checked ~ .label {
      color: #000;

      &::before {
        background: $active;
      }
    }
  }
}

#download {
  font-size: 0.8em;
  margin-left: 10px;
  display: block;
  width: 100%;
}
