$control-bar-height: 150px;
$tablet-width: 850px;
$desktop-width: 1024px;

$side-w: 320px;

$margin-h: 45px;
$margin-v: 45px;

@import './_mixin.scss';
@import './_aside.scss';
@import './_controls.scss';
@import './_actions.scss';

* {
  box-sizing: border-box;
}

a {
  color: #000;
}

body {
  font-family: 'Hiragino Sans GB', sans-serif;
  font-weight: bold;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
  transition: background 0.3s;

  .is-mobile & {
    background: #eee;
  }

  &.drag-file {
    &::after {
      content: 'Drop!';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      font-size: 100px;
      font-style: italic;
    }
  }
}

.show-mobile.show-mobile {
  display: none;

  .is-mobile & {
    display: block;
  }
}

.hide-mobile.hide-mobile {
  .is-mobile & {
    display: none;
  }
}

#textarea {
  position: absolute;
  left: calc(50% + #{$side-w / 2});
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  letter-spacing: 0;
  line-height: 1em;
  font-weight: normal;
  font-size: 8px;
  background: transparent;
  border: 0;
  outline: 0;
}

#ascii {
  display: block;
  position: absolute;
  left: calc(50% + #{$side-w / 2});
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0;
  opacity: 0;

  &.is-done {
    opacity: 1;
    transition: opacity 0.3s;
  }

  .drag-file & {
    opacity: 0.2;
  }
}

#fileDropArea {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
