doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(href='https://fonts.googleapis.com/css?family=Asap:400i' rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.js')
    title Document
  body
    #fileDropArea
    .bar
      .bar_item.bar_item--control
        label.label(for='text') text
        input.bar_input.bar_input--text#text(type='text')
      .bar_item.bar_item--control
        .label color
        button#color.bar_input--color(class="jscolor {\
          shadow: false, borderWidth: 0, borderRadius: 0, backgroundColor: 'transparent', insetColor: 'transparent', \
          value: '#004fb0', valueElement: null, \
          onFineChange: 'updateColor(this)'}")
        button#bgColor.bar_input--color(class="jscolor {\
          shadow: false, borderWidth: 0, borderRadius: 0, backgroundColor: 'transparent', insetColor: 'transparent', \
          value: '#fffff1', valueElement: null, \
          onFineChange: 'updateBgColor(this)'}")
      .bar_item.bar_item--control
        label.label(for='resolution') resolution
        input.bar_input.bar_input--range#resolution(type='range' min='3' max='100' step='1' value='30')
      label.bar_item.bar_item--control.bar_item--checkbox
        input.bar_input--checkbox#webcam(type='checkbox')
        .label webcam
      .bar_item
        a#download(href='#' download='CJKV.png') download
