doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/2.19.0/load-image.all.min.js')
    title 點陣文
    style.
      body {
        display: none;
      }
  body
    #fileDropArea.hide-mobile
    .aside
      .controls
        .controls_row
          .controls_item.controls_item--text
            input.input.input--text#text(type='text' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false')
        .controls_row
          .controls_item.controls_item--color
            //- 2 buttons generate by js
            //- button#color.input--color
            //- button#bgColor.input--bgColor
          .controls_item.controls_item--range
            input.input.input--range#resolution(type='range' min='20' max='100' step='5' value='80')

      ul.actions
        li
          input#webcam(type='checkbox')
          label.label.label--webcam(for='webcam') webcam
        li
          label.label.label--file(for='file') upload
          input#file(type='file')
        //- li.actions_divider
        //- li
        //-   a#download(href='#' download='hihi.png') download

      a.copyright(href='//fb.me/bonanananana' target='_blank') 19
