doctype html
html(lang='en')
  head
    //- Global site tag (gtag.js) - Google Analytics
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138653626-1"></script>
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138653626-1');

    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    //- for SNS
    <meta property="og:title" content="THE CENSORED WORDS">
    <meta property="og:description" content="%3fd^#ADGGU*&^%^&*)f">
    <meta property="og:image" content="https://the-censored-words.github.io/og_image.jpg">
    <meta property="og:url" content="https://the-censored-words.github.io">
    <meta property="og:site_name" content="THE CENSORED WORDS">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/2.19.0/load-image.all.min.js')
    title THE CENSORED WORDS
    style.
      body {
        display: none;
      }
  body
    #fileDropArea.hide-mobile
    .aside
      .controls
        h1 THE CENSORED WORDS
        .controls_row
          .controls_item.controls_item--text
            input.input.input--text#text(type='text' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false')
        .controls_row
          .controls_item.controls_item--color
            //- 2 buttons generate by js
            //- button#color.input--color
            //- button#bgColor.input--bgColor
          .controls_item.controls_item--range
            input.input.input--range#resolution(type='range' min='20' max='100' step='5' value='80')

      ul.actions
        li.hiddenFeature
          a#refresh(href='#') next
        li#webcamInputContainer
          input#webcam(type='checkbox')
          label.label.label--webcam(for='webcam') webcam
        li.hiddenFeature
          label.label.label--file(for='file') upload
          input#file(type='file')
        //- li.hiddenFeature
        //-   a#download(href='#' download='hihi.png') download

      a.copyright(href='//fb.me/bonanananana' target='_blank') hi
