.controls
  textarea.control#text
    | ㄅㄆㄇㄈㄉㄊㄋㄌㄍㄎㄏㄐㄑㄒㄓㄔㄕㄖㄗㄘㄙ一ㄨㄩㄚㄛㄜㄝㄞㄟㄠㄡㄢㄣㄤㄥㄦ
    | 飛快的棕色狐狸跳過了懶狗
  input.control#resolution(type='number' value='5' min='2')
  input.control#url(type='text')
canvas#ascii
